<app-navbar></app-navbar>
<h1 style="text-align: center; margin-top: 1rem;">Let's see who arrived!</h1>
<div class="date-selector" style="text-align: center;">
  <select id="dateDropdown" [(ngModel)]="selectedDate" (change)="getParticipants()">
    <option *ngFor="let e of events" [value]="e.eventName">{{ e.eventName }}</option>
  </select>
</div>
<div class="student-card-list">
  <div class="student-card" *ngFor="let p of participants" [class.fadedIn]="p.fadedIn">
    <div class="student-card-name">{{ p.name }}</div>
  </div>

</div>
